.footer {
  min-height: 100px;
  background: #E5E5E5;
  position: relative;
  background:snow;
  clear : both;
  z-index : 10;
  margin-top: -3em;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: sliver;
  text-align: center;
  /* z-index: -1; */
}
