.footer {
  min-height: 50px;
  position: relative;
<<<<<<< HEAD
  background:snow;
  clear : both;
  z-index : 10;
  margin-top: -3em;
=======
  background:linear-gradient(to bottom right,#5F9EA0,  Green, rgb(160, 221, 211) );
  padding: 20px 0;

>>>>>>> f86740d8fa2ca10b4bbb1e01eb5eb75b49ad13c3
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;

}

.footer div{
  padding: 10px;
  margin:10 px;
  text-align: center;
   color:white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 15px;
}

.footer a{
  color: snow;
}
