.header {
    background:linear-gradient(to bottom right, blue, purple, plum);
    padding: 20px 0;
}
h1{
    text-align: center;
    color:white;
    font-family: 'Monoton', cursive;
}
h2{
    text-align: center;
    color:white;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}